.two{
    background-color:darkkhaki;
}
body{
    width:100%;
}
.example-form {
    width:500px;
    height:100px;
    background-color: greenyellow; 
    margin-top: 1px;

  }
  
  .example-full-width {
    width: 100%;
  }
  #btn{
    font-size:20px;
    height: 50px;
    color:azure;
    border-bottom-left-radius: 15px;
    border-top-right-radius:15px ;
    background-color: rgb(36, 54, 87);

  }
  .try{
    width: 500px;
  }
  