<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="toolbar">
    <div fxFlex="40">
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="navto('aboutus')">About Us</button>
            <button mat-menu-item (click)="navto('contactus')">Contact Us</button>
            <button *ngIf="display" (click)="navto('mainscreen')" mat-menu-item>Logout</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>TRASH CREW</span>
    </div>
    
       
</mat-toolbar>
